name: build-full
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: build-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}-${{github.workflow}}
  cancel-in-progress: true

jobs:
  # TODO: this currently includes non-GPU builds as well
  # and won't actually run on device
  gpu:
    name: gpu
    strategy:
      fail-fast: false
      matrix:
        special: [null]
        buildtype: ['debug', 'ndebug']
        image: ['rocky-cuda']
    env:
      CELER_DISABLE_DEVICE: 1 # IMPORTANT
      CMAKE_PRESET: >-
        ${{matrix.buildtype}}-${{matrix.special && '-' || ''}}${{matrix.special}}
    runs-on: ubuntu-latest
    container:
      image: >-
        docker.io/celeritas/${{
             matrix.image == 'rocky-cuda' && 'ci-rocky-cuda12:2024-12-29'
          || null
        }}
    steps:
      - name: Set up environment
        run: |
          . /etc/profile
          echo "/opt/view/bin" >> $GITHUB_PATH
          echo "CMAKE_PREFIX_PATH=${CMAKE_PREFIX_PATH}" >> $GITHUB_ENV
      # NOTE: checkout must occur *after* setting up environment for git tags to work
      # NOTE: depth must be enough to include the previous tag
      - name: Check out
        uses: actions/checkout@v4
      - name: Configure
        run: |
          git config --global --add safe.directory ${PWD}
          git fetch --tags
          ln -fs scripts/cmake-presets/ci-${{matrix.image}}.json CMakeUserPresets.json
          cmake --preset=${CMAKE_PRESET} --log-level=VERBOSE
      - name: Build
        working-directory: build
        run: |
          ninja -v -k0
      - name: Test
        run: |
          ctest --preset=base
      - name: Install
        working-directory: build
        run: |
          cmake --install .

# vim: set nowrap tw=100:
